<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hellomart.dao.AccountDAO">

	<select id="getLoginInfo" resultType="Account" parameterType="String">
		SELECT ID, Password, Role FROM Account WHERE ID = #{id}
	</select>
	
	<select id="getInfo" resultType="Account">
		
	</select>
		
	<insert id="insertAccount">
		INSERT INTO
		
		Account (ID, Password, Role, EMail, PostCode, RoadAddress, 
		JibunAddress, DetailAddress, Phone, Name, BirthYear, BirthMonth, BirthDay, Gender) 
		
		VALUES (#{id}, #{password}, #{role}, #{eMail}, 
		#{address.postCode}, #{address.roadAddress}, #{address.jibunAddress}, #{address.detailAddress}, 
		#{phone}, #{name}, #{birthDate.year}, #{birthDate.month}, #{birthDate.day}, #{gender});
	</insert>
	
	<delete id="deleteAccount">
		DELETE FROM Account WHERE ID = #{id}
	</delete>
	
	
	
	<!-- 테스트 목적으로 사용되는 SQL문 -->
	<select id="get" resultType="Account">
		SELECT ID, Password, Role, Points, Grade, EMail,
			   PostCode, RoadAddress, JibunAddress, DetailAddress,
			   Phone, Name, BirthYear, BirthMonth, BirthDay, Gender, Reliability, JoinDate
		FROM Account WHERE ID = #{id};
	</select>
	
	<delete id="truncate">
		TRUNCATE Account
	</delete>
	<!-- 테스트 목적으로 사용되는 SQL문 -->
	
</mapper>